<div class = "block-main block-make-bet">
    <div class = "block-main-header">
        <div class = "block-main-header-tag">YOUR BET:</div>
    </div>
    {% if result.code == 102 %}
        {% if match and match.isLive != 1 and match.isEnd != 1 %}
            <form name = "match-bet" action = "makebet.php?id={{ match.id }}" method = "post" class = "form-make-bet">
                <fieldset class = "block-select select-match">
                    <label for = "match-name-tag" class = "head">Your match:</label><br>
                    <label for = "match-name">{{ match.name }}</label>
                </fieldset>
                <hr>
                <fieldset class = "block-select select-team">
                    <label class = "lb-reg">Selected team:</label>
                    <label>{{ user.bet.command_name }}</label><br>
                </fieldset>
                <hr>
                <fieldset class = "block-select select-payment">
                    <label class = "lb-reg">Bid price:</label>
                    <input type = "text" value = "{{ user.bet.bid_amount }}" readonly><br>
                </fieldset>
                <hr>
                <fieldset class = "button-field">
                    <input type = "submit" name = "delete-bet" value = "DELETE BET"/>
                </fieldset>
            </form>

        {% else %}
            <form name = "match-bet" action = "index.php" class = "form-make-bet">
                <fieldset class = "block-select select-match">
                    <label for = "match-name-tag" class = "head">Your match:</label><br>
                    <label for = "match-name">Match NOT found =(</label> 
                </fieldset>
                <hr>
                <fieldset class = "button-field">
                    <input type = "submit" value = "Back to main"/>
                </fieldset>
            </form>
        {% endif %}
    {% else %}
        <form name = "match-bet" action = "login.php" class = "form-make-bet">
                <fieldset class = "block-select select-match">
                    <label for = "match-name-tag" class = "head">Your match:</label><br>
                    <label for = "match-name">You are not authorized =(</label> 
                </fieldset>
                <hr>
                <fieldset class = "button-field">
                    <input type = "submit" value = "Log in"/>
                </fieldset>
        </form>
    {% endif %}
</div>