{% extends "base/base.html" %}

{% block navbar_end %}
    {% include 'base/header.html' with {'result': result} %}
{% endblock %}

{% block title %}
    Edit match | VolleyBet
{% endblock %}

{% block content %}
<div class = "block-main block-signup">
    <div class = "block-main-header">
        <div class = "block-main-header-tag">
            <div class = "edit-tag">EDIT: {{ match.name }}</div>
        </div>
    </div>
    <form name = "signup" action = "admin.php?id={{ match.id }}" method = "post" class = "form-signup">
        <fieldset class = "user-data register">
            <div class = "row login">
                <label for = "command_1" class = "lb-reg">Command 1:</label>
                <select name = "command_1" placeholder = "mylogin">
                    {% for command in commands %}
                        {% if command.id == match.id_command_1 %}
                        <option value ="{{ command.id }}" selected>{{ command.full_name }}</option>
                        {% else %}
                        <option value ="{{ command.id }}">{{ command.full_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
            <div class = "row login">
                <label for = "command_2" class = "lb-reg">Command 2:</label>
                <select name = "command_2" placeholder = "mylogin">
                    {% for command in commands %}
                        {% if command.id == match.id_command_2 %}
                        <option value ="{{ command.id }}" selected>{{ command.full_name }}</option>
                        {% else %}
                        <option value ="{{ command.id }}">{{ command.full_name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class = "row datetime">
                <label for = "datetime" class = "lb-reg">Date:</label>
                <input type = "datetime-local" name = "datetime" value = "{{ match.date }}"/>
            </div>
            <div class = "row coeff_1">
                <label for = "coeff_1" class = "lb-reg">Coefficient 1:</label>
                <input type = "text" name = "coeff_1" value = "{{ match.coeff_1 }}"/>
            </div>
            <div class = "row coeff_2">
                <label for = "coeff_2" class = "lb-reg">Coefficient 2:</label>
                <input type = "text" name = "coeff_2" value = "{{ match.coeff_2 }}"/>
            </div>
                <label for = "isLive" class = "lb-reg">Is LIVE: </label><br>
                {% if match.isLive == 1 %}
                <input type = "radio" id = "isLive_1" name = "isLive" value = "1" checked>
                <label for = "isLive_1">Yes</label>
                <input type = "radio" id = "isLive_0" name = "isLive" value = "0">
                <label for = "isLive_0">No</label>
                {% else  %}
                <input type = "radio" id = "isLive_1" name = "isLive" value = "1">
                <label for = "isLive_1">Yes</label>
                <input type = "radio" id = "isLive_0" name = "isLive" value = "0" checked>
                <label for = "isLive_0">No</label>
                {% endif %}
        </fieldset>
        <hr>
        <fieldset class = "button-field">
            <input type = "submit" name = "admin-edit-submit" value = "Edit"/>
        </fieldset>
    </form>
</div>
{% endblock %}

{% block right_sidebar %}
    {% include 'base/right_sidebar.html' with {'result': result, 'user': user} %}
{% endblock %}























