{% extends "base/base.html" %}

{% block navbar_end %}
    {% include 'base/header.html' with {'result': result} %}
{% endblock %}

{% block title %}
    All matches | VolleyBet
{% endblock %}

{% block content %}
<div class = "block-main">
    <div class = "block-main-header">
        <div class = "block-main-header-tag">FINISHED MATCHES:</div>
    </div>
    <table class = "matches-future">
        <thead class = "matches-thead-future">
            <tr>
                <td class = "match-name-thead">Match name:</td>
                <td class = "match-date-thead">Date:</td>
                <td class = "match-date-thead">Score:</td>
                <td class = "match-coeff1-thead">1</td>
                <td class = "match-coeff2-thead">2</td>
                {% if user.admin == true %}
                <td class = "make-bet-link-thead"></td>
                {% endif %}
            </tr>
        </thead>
        <tbody class = "matches-tbody-future">
            {% for match in end_matches %}
            <tr id = {{ match.id }}>
                <td class = "match-name-tbody">{{ match.name }}</td>
                <td class = "match-date-tbody">{{ match.date }}</td>
                <td class = "match-date-tbody">{{ match.score_command_1 }}:{{ match.score_command_2 }}</td>
                <td class = "match-coeff1-tbody">{{ match.coeff_1 }}</td>
                <td class = "match-coeff2-tbody">{{ match.coeff_2 }}</td>
                {% if user.admin == true %}
                <td class = "make-bet-link-tbody"><a href = "makebet.php?id={{ match.id }}"></a></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                
            </tr>
        </tfoot>
    </table>
</div>
<div class = "pages">
    <p class = "showing-of-all"></p>
    <p class = "next-show"></p> 
</div>
{% endblock %}

{% block right_sidebar %}
    {% include 'base/right_sidebar.html' with {'result': result, 'user': user} %}
{% endblock %}







































