{% extends "base/base.html" %}

{% block navbar_end %}
    {% include 'base/header.html' with {'result': result} %}
{% endblock %}

{% block title %}
    Restore | VolleyBet
{% endblock %}

{% block content %}
<div class = "block-main block-login">
    <div class = "block-main-header">
        <div class = "block-main-header-tag">Restore:</div>
    </div>
    <form name = "login" action = "restore.php" method = "post" class = "form-login">
        {% if result.code == 101 %}
        <fieldset class = "user-data">
            <input type = "text" name = "login" placeholder = "Your login"/>
        </fieldset>
        <hr>
        <fieldset class = "button-field">
            <input type = "submit" name = "restore-submit" value = "Restore"/>
        </fieldset>
        {% else %}
        <fieldset class = "user-data register">
            <label class = "head">{{ result.header}}</label><br>
            {% for body_line in result.body %}
            <label>{{ body_line }}</label><br>
            {% endfor %}
        </fieldset>
        <hr>
        <fieldset class = "button-field">
            {% if result.success == true %}
            <input type = "submit" formaction = "index.php" value = "Back to main"/>
            {% else %}
            <input type = "submit" value = "Retry restore"/>
            {% endif %}
        </fieldset>
        {% endif %}
    </form>
</div>
{% endblock %}